.message
  .message_disp_flex
    .message__user
      eto
    .message__timestamp
      2018/06/13 23:02
  .message__body
    good!
.message
  .message_disp_flex
    .message__user
      tossy
    .message__timestamp
      2018/06/13 23:05
  .message__body
    night!
.message
  .message_disp_flex
    .message__user
      tossy
    .message__timestamp
      2018/06/13 23:23
  .message__body
    寝ますzzz
