.wrapper
  .alert-bar
    チャットグループが作成されました
  .side-bar
    .header
      %h2.header__uname
        tossy
      %ul.header__btns
        %li
          = fa_icon("edit")
        %li
          = fa_icon("cog")
    .groups
      %ul.groups__group
        %li.groups__name
          Mr.Children
        %li.groups__last-message
          ラララ
      %ul.groups__group
        %li.groups__name
          安室奈美恵
        %li.groups__last-message
          Don't Wanna Cry
      %ul.groups__group
        %li.groups__name
          GLAY
        %li.groups__last-message
          ここではないどこかへ
  .chat
    .header
      .header__contents
        %h1.header__group-name
          Mr.Children
        %h5.header__group-member
          Member : eto tossy
      .header__contents.header__btn
        Edit
    .messages
      %h2.messages__user
        eto
      %h5.messages__timestamp
        2018/06/13 23:02
      %h4.messages__body
        good!
      %h2.messages__user
        tossy
      %h5.messages__timestamp
        2018/06/13 23:05
      %h4.messages__body
        night!
      %h2.messages__user
        tossy
      %h5.messages__timestamp
        2018/06/13 23:23
      %h4.messages__body
        寝ますzzz
    .form
      .form__contents
        .form__input.form__whitebox
          type a message
        .form__img.form__whitebox
          = fa_icon("image")
        .form__btn
          Send
  .footer
