body {
  font-size: 1.0rem;
}

// font-size fix
h1 {
  font-size: 20px;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 15px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 11px;
}

p {
  font-size: 1.0rem;
}

a {
  text-decoration: none;
}


// clearfix適用用のwrapperを用意
.wrapper {
  @extend .clearfix;
}

// 水色仕様のの共通フォーマットを定義
@mixin blue-block {
  background-color: $font-blue;
  color: $font-white;
}

// 水色仕様のの共通フォーマットを定義
@mixin blue-border-block {
  background-color: $font-white;
  color: $font-blue;
  border: 1px solid $font-blue;
}

// flex適用box
@mixin flex-box {
  display: flex;
  flex-wrap: wrap;
}

// TODO Javascript/jQueryでのちに実装
.alert-bar {
  @include blue-block;
  width: 100%;
  height: 28px;
  line-height: 28px;
  text-align: center;
}

// 左側のBlock
.side-bar {
  float: left;
  width: $width-side-bar;
  .header {
    height: $height-header;
    line-height: $height-header;
    padding: 0 20px;
    background-color: #253141;
    color: $font-white;
    &__uname {
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
    }
    &__btns {
      float: right;
      li {
        display: inline-block;
      }
      a:visited {
        color: $font-white;
      }
    }
  }
  .groups {
    height: calc(100vh - #{$height-header});
    padding: 0 20px;
    background-color: #2f3e51;
    color: $font-white;
    overflow: auto;
    &__group {
      padding: 20px 0;
    }
    &__name {
      font-size: 15px;
    }
    &__last-message {
      font-size: 11px;
      padding-top: 5px;
    }
  }
}

// 右側のBlock
.chat {
  float: left;
  width: calc(100vw - #{$width-side-bar});
  .header {
    height: $height-header;
    padding: 0 40px;
    &__contents {
      display: inline-block;
    }
    &__group-name {
      color: #333;
      font-size: 20px;
      padding: 35px 0 0 0;
    }
    &__group-member {
      color: #999;
      font-size: 12px;
      padding: 15px 0 0 0;
    }
    &__btn {
      @include blue-border-block;
      float: right;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 28px;
      a:visited {
        color: $font-blue;
      }
    }
  }
  .messages {
    height: calc(100vh - #{$height-header} - 90px);
    box-sizing: border-box;
    overflow: auto;
    padding: 46px 40px 0 40px;
    background-color: #EEE;
    color: $font-black-chat;
    .message {
      &_disp_flex {
        @include flex-box;
      }
      &__user {
        font-weight: bold;
      }
      &__timestamp {
        margin: 4px 0 0 10px;
        color: $font-gray;
        font-size: 12px;
      }
      &__body {
        padding: 10px 0 40px 0;
        font-size: 14px;
      }
    }
  }
  .form {
    box-sizing: border-box;
    height: 90px;
    padding: 20px 40px;
    background-color: #DDD;
    color: $font-black-chat;
    &__contents {
      @include flex-box;
      height: 50px;
      font-size: 16px;
      line-height: 50px;
    }
    &__whitebox {
      background-color: $font-white;
    }
    &__input {
      flex: auto;
      padding-left: 10px;
      border: none;
    }
    &__img {
      padding: 0 10px 0 0;
      a:visited {
       color: $font-black-chat;
      }
    }
    &__btn {
      @include blue-block;
      padding: 0 30px;
      margin-left: 15px;
      a:visited {
       color: $font-white;
      }
    }
    #filesend {
      display: none;
    }
  }
}


